body {
    margin: 0;
    background-color: #F9EBC7;
    background-image: url(Images/bean_background.png);
    background-position: center;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #783D19;
    height: 80px;
}

nav .logo {
    padding-left: 3vw;
}

nav .logo img{
    width:175px;
}

nav .links {
    display: flex;
    gap: 5vw;
    padding-right: 5vw;
}

nav a {
    color: #F9EBC7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #1B1B1B;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #A9B388;
}        

nav img:hover {
    transform: scale(1.1);
}


/* Navigation - Scalability */

@media (max-width: 450px) {

    nav {
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 5px;
    }
    nav .links {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

}

/* Navigation - Active State*/
nav a.active {
    color: #A9B388; 
    position: relative;
}

nav a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px; 
    width: 8px;
    height: 8px;
    background-color: #A9B388; 
    border-radius: 50%; 
}








/* Page Header */

main {
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;
}

.page-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-header img {
    width: 600px;
    padding-top: 75px;
    padding-bottom: 50px;
}


/* Page Header - Scalibility */

@media (max-width: 1800px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 1600px) {
    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (max-width: 800px) {
    .page-header img {
    width: 80%;
    padding-top: 75px;
    padding-bottom: 50px;
    }
}






/* Various Events */

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.events > div {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 3px solid #783D19;
    margin: 25px;
}

.events img {
    width: 100%;
    height: 100%;
}

.events .details {
    background-color: #5F6F52;
    border-top: 3px solid #783D19;
    height: 100%;
    min-height: 175px;
    padding: 50px 50px;
    color: #FEFAE0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.events .header {
    color: #FFF08F;
}

.events .info {
    padding-top: 25px;
}


/* Event Cards Hover */
.events > div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.events > div:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}




/* Gallery */

.gallery {
  display: flex;              
  flex-wrap: wrap;           
  justify-content: center;
  gap: 15px;         
  margin-top: 100px;        
  margin-bottom: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.gallery img {
  border: 3px solid #783D19;
  width: 75%;
}

.gallery img.event1 {
    max-width: 400px; 
}

.gallery img.event2 {
    max-width: 500px; 
}

.gallery img.event3 {
    max-width: 300px;
}

.gallery img.event4 {
    max-width: 350px;
}

.gallery img.event5 {
    max-width: 230px;
}


/* Gallery - Scalability */

@media (max-width: 1200px) {
    .gallery img {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .gallery img {
        width: 75%;
    }
}





/* Image Effects */

img {
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}







/* Footer */

footer .top{
    background-color: #783D19;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    padding: 6vh 8vw;
    color: #F9EBC7;
    text-shadow: 1px 1px 1px #1B1B1B;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 50px;
    gap: 30px;
}

footer .heading {
    color: #FFF08F;
    font-size: 1.2rem;
}



/* Footer - Navigate */

.footer-navigate {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 150px;
   
}

.footer-navigate a {
    color: #F9EBC7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #1B1B1B;
    text-decoration: none;
    font-weight: bold;
}

.footer-navigate a:hover {
    color: #A9B388;
}            

/* Footer Navigation - Active State*/
.footer-navigate a.active {
    color: #A9B388; 
    position: relative;
}

.footer-navigate a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px; 
    width: 8px;
    height: 8px;
    background-color: #A9B388; 
    border-radius: 50%; 
}




/* Footer - Time */

.footer-hours {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 400px;
}

.footer-hours .heading {
    grid-column: 1/3;
}

.footer-hours .day {
    display: flex;
    align-items: center;
}

.footer-hours .line {
    flex: 1;
    border-bottom: 1px solid #FEFAE0;
    margin: 0 10px;
}

.footer-hours .time {
    display: flex;
    align-items: center;
}



/* Footer - Newsletter */

.footer-extra {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    width: 250px;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-email {
    display: flex;
    align-items: center;
}

.form-email input {
  padding: 5px;
  border: 2px solid #F9EBC7;  
  background-color: transparent;
  color: #F9EBC7;          
  font-size: 0.9rem;
  margin-right: 10px;
}

.form-email input::placeholder {
  color: #F9EBC7;
}

.form-email input:focus {
    outline: none;
}

.form-email button {
  background-color: #F9EBC7;  
  color: #5C3107;              
  border: none;
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-email button:hover {
  background-color: #e0cd9b;
}



/* Footer - Socials */

.footer-socials {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.social-logos {
    display: flex;
}

.social-logos img{
    width: 30px;
    padding-right: 40px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.socials:hover {
    transform: scale(1.1);
}



/* Footer - Copyright */

footer .bottom {
    background-color: #5C3107;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    padding-right: 8vw;
    padding-left: 8vw;
}

div.copyright {
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #F9EBC7;
}



/* Footer Scalability */

@media (max-width: 1200px) {
    footer .top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }


    .footer-navigate,
    .footer-hours,
    .footer-extra,
    .footer-logo {
        width: 100%;
    }


    .footer-newsletter .heading {
        padding-top: 30px;
    }
}

@media (max-width: 750px) {
    footer .top {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .footer-hours .heading {
        padding-top: 10px;
    }
   
    .footer-newsletter .heading {
        padding-top: 10px;
    }

    .footer-extra {
        row-gap: 30px;
    }

    .footer-logo {
        justify-content: flex-start;
    }
}




/* To Top Button */

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5F6F52;
    color: #F9EBC7;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    animation: bounce 2s infinite;
}

.top-button:hover {
    background-color: #A9B388;
}

html {
    scroll-behavior: smooth;
}

/* Bouncing Animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}






/* Page Transition */
#page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #783D19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.2s ease-in-out forwards;
    animation-delay: 0.75s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        display: none;
    }
}

#page-transition p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #F9EBC7;
    font-family: Arial;
    font-weight: bold;
}

.coffee-transition img {
    width: 125px;
    animation: jump 0.8s ease;
}

@keyframes jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-40px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}