body {
    margin: 0;
    background-color: #F9EBC7;
    background-image: url(Images/bean_background.png);
    background-position: center;
}

/* Navigation Bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #783D19;
    height: 80px;
}

nav .logo {
    padding-left: 3vw;
}

nav .logo img{
    width:175px;
}

nav .links {
    display: flex;
    gap: 5vw;
    padding-right: 5vw;
}

nav a {
    color: #F9EBC7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #1B1B1B;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #A9B388;
}        

nav img:hover {
    transform: scale(1.1);
}


/* Navigation - Scalability */

@media (max-width: 450px) {

    nav {
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 5px;
    }
    nav .links {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

}

/* Navigation - Active State*/
nav a.active {
    color: #A9B388; 
    position: relative;
}

nav a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px; 
    width: 8px;
    height: 8px;
    background-color: #A9B388; 
    border-radius: 50%; 
}








/* Poster */

main > div {
    padding-top: 8vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 8vh;
}

.poster {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img.coffee {
    width: 40%
}

img.tagline {
    width: 80%;
}





/* Hot Menu */

img.hotmenu-heading {
    width: 80vw;
    max-width: 750px; 
    padding-bottom: 20px;
}

.hotmenu {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotmenu .box {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: auto;
    border: 3px solid #783D19;
}

img.choco-drink {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

.hotmenu-picture {
    grid-column: 1;
    display: flex;
    background-color: #A9B388;
    border-right: 3px solid #783D19;
    justify-content: center;
    align-items: center;
}

.menuitems {
    padding: 50px 25px 50px 75px;
    background-color: #5F6F52;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 1rem;
}

.menuitems .heading {
    color: #FFF08F;
    font-size: 1.2rem;
    margin-bottom: 10px;
    grid-column: 2;
}

.menu-item, .price {
    display: flex;
    align-items: center;
}

.menuitems .line {
    flex: 1;
    border-bottom: 1px solid #FEFAE0;
    margin: 0 10px;
}

.menuitems .read {
    margin-top: auto; 
    grid-column: 2;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.menuitems .read a {
    background-color: #5C3107;
    color: #FEFAE0;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 0.9rem;
}

.menuitems .read a:hover {
    background-color: #783D19;
}





/* Promo */

img.promo-heading {
    width: 50vw;
    max-width: 400px; 
    padding-bottom: 20px;
}

.promo {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo .box {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;            
    height: auto;           
    border: 10px dotted #783D19;
}

.promo-details {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    background-color: #5F6F52;
    border-right: 10px dotted #783D19;
}

.promo-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FEFAE0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.promo-details .heading {
    color: #FFF08F;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.main-event {
    font-size: 1.4rem;
}

.promo-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A9B388;
}

img.promo-upsize {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}





/* Contacts */

img.contact-heading {
    width: 50vw;
    max-width: 450px;
    padding-bottom: 20px;   
}

.contact {
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .box {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #783D19;
}

.contact-details {
    background-color: #5F6F52;
    padding: 100px 40px;
    border-right: 3px solid #783D19;
    font-size: 1rem;
    color: #FEFAE0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: grid;
    grid-template-columns: 30px 1fr 3fr;
    padding-bottom: 20px;
}

.contact-details .name {
    color: #FFF08F;
    font-size: 1.6rem;
    padding-bottom: 30px;
}

.contact-details .heading {
    color: #FFF08F;
}

.contact-map {
    background-color: #A9B388;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}






/* Scalability */

@media (max-width: 1000px) {
    .hotmenu .box,
    .promo .box,
    .contact .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
    }

    .hotmenu-picture,
    .promo-details,
    .contact-details {
        border-right: none;
        border-bottom: 3px solid #783D19;
    }

    .promo-details {
        border-bottom: none;
    }

    .promo-picture {
        border-top: 10px dotted #783D19;
    }

    img.choco-drink {
       width: 150px;
       padding-top: 20px;
       padding-bottom: 20px;
    }

    .promo-picture img {
        width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contact-details {
        padding: 50px 75px;
    }

    .contact-map {
        padding: 25px 25px;
    }

    .contact-map iframe {
        width: 100%;
        min-width: 100px;
        height: 400px;
    }

    img.tagline {
        width: 100%;
    }

    .contact-details {
        font-size: 0.9rem;
        padding: 40px;
    }

    .contact-details .name {
        font-size: 1.4rem;
    }
}

@media (max-width: 450px) {
    .menuitems {
        padding: 20px 10px 20px 30px;
        row-gap: 0px;
    }

    .menuitems .line {
        display: none;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .contact-details {
        padding: 35px 25px;
    }

    .contact-details .name {
        padding-bottom: 10px;
    }

    .promo-details {
        padding: 50px 25px;
        gap: 40px;
    }
}





/* Image Effects */

img {
    transition: transform 0.3s ease;
}

img.hotmenu-heading:hover, img.promo-heading:hover, img.contact-heading:hover, img.choco-drink:hover, img.promo-upsize:hover {
    transform: scale(1.05);
}


/* Home Cards Hover*/

.box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.005);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}





/* Footer */

footer .top{
    background-color: #783D19;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    padding: 6vh 8vw;
    color: #F9EBC7;
    text-shadow: 1px 1px 1px #1B1B1B;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 50px;
    gap: 30px;
}

footer .heading {
    color: #FFF08F;
    font-size: 1.2rem;
}



/* Footer - Navigate */

.footer-navigate {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 150px;
   
}

.footer-navigate a {
    color: #F9EBC7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #1B1B1B;
    text-decoration: none;
    font-weight: bold;
}

.footer-navigate a:hover {
    color: #A9B388;
}            

/* Footer Navigation - Active State*/
.footer-navigate a.active {
    color: #A9B388; 
    position: relative;
}

.footer-navigate a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px; 
    width: 8px;
    height: 8px;
    background-color: #A9B388; 
    border-radius: 50%; 
}






/* Footer - Time */

.footer-hours {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 400px;
}

.footer-hours .heading {
    grid-column: 1/3;
}

.footer-hours .day {
    display: flex;
    align-items: center;
}

.footer-hours .line {
    flex: 1;
    border-bottom: 1px solid #FEFAE0;
    margin: 0 10px;
}

.footer-hours .time {
    display: flex;
    align-items: center;
}



/* Footer - Newsletter */

.footer-extra {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    width: 250px;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-email {
    display: flex;
    align-items: center;
}

.form-email input {
  padding: 5px;
  border: 2px solid #F9EBC7;  
  background-color: transparent;
  color: #F9EBC7;          
  font-size: 0.9rem;
  margin-right: 10px;
}

.form-email input::placeholder {
  color: #F9EBC7;
}

.form-email input:focus {
    outline: none;
}

.form-email button {
  background-color: #F9EBC7;  
  color: #5C3107;              
  border: none;
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-email button:hover {
  background-color: #e0cd9b;
}



/* Footer - Socials */

.footer-socials {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.social-logos {
    display: flex;
}

.social-logos img{
    width: 30px;
    padding-right: 40px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.socials:hover {
    transform: scale(1.1);
}



/* Footer - Copyright */

footer .bottom {
    background-color: #5C3107;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    padding-right: 8vw;
    padding-left: 8vw;
}

div.copyright {
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #F9EBC7;
}



/* Footer Scalability */

@media (max-width: 1200px) {
    footer .top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }


    .footer-navigate,
    .footer-hours,
    .footer-extra,
    .footer-logo {
        width: 100%;
    }


    .footer-newsletter .heading {
        padding-top: 30px;
    }
}

@media (max-width: 750px) {
    footer .top {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .footer-hours .heading {
        padding-top: 10px;
    }
   
    .footer-newsletter .heading {
        padding-top: 10px;
    }

    .footer-extra {
        row-gap: 30px;
    }

    .footer-logo {
        justify-content: flex-start;
    }
}




/* To Top Button */

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5F6F52;
    color: #F9EBC7;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    animation: bounce 2s infinite;
}

.top-button:hover {
    background-color: #A9B388;
}

html {
    scroll-behavior: smooth;
}

/* Bouncing Animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}






/* Page Transition */
#page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #783D19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.2s ease-in-out forwards;
    animation-delay: 0.75s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        display: none;
    }
}

#page-transition p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #F9EBC7;
    font-family: Arial;
    font-weight: bold;
}

.coffee-transition img {
    width: 125px;
    animation: jump 0.8s ease;
}

@keyframes jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-40px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}